<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="utf-8">
        <title>{{title}} | WRKLY</title>
        <link rel="stylesheet" href="/css/dashboard.css">
        <!--Roboto Font, Bebas Neue Font, Montserrat Font, Sen-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap" rel="stylesheet">
    </head>
    <body class="appLayout">
        {{> sidebar}}
        <div class="mainContent">
            <header class="topHeader">
                <div class="welcomeText">
                    <h1>Welcome back, {{user.firstName}}!</h1>            
                </div>
                <div class="headerActions">
                    <span class="userName">{{user.firstName}} {{user.lastName}}</span>
                    <a href="/logout" class="signOutBtn">Sign Out</a>
                </div>
            </header>
            <main class="pageContent">
            {{{body}}}
            </main>
        </div>
    </body>
</html>
