<!DOCTYPE html>
<html lang="en">
    <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="utf-8">
        <title>{{title}} | WRKLY</title>
        <link rel="stylesheet" href="/css/dashboard.css">
    </head>
    <body class="appLayout">
        {{> sidebar}}
        <div class="mainContent">
        <header class="topHeader">
            <div class="welcomeText">
                <h1>Welcome back, {{user.firstName}}!</h1>            </div>
            <div class="headerActions">
                <span class="userName">{{user.firstName}} {{user.lastName}}</span>
            </span>
            <a href="/logout" class="signOutBtn">Sign Out</a>
        </div>
        </header>
        <main class="pageContent">
        {{{body}}}
        </main>
    </div>
        </body>
    </html>
